*.o
*.bundle
*.log
*.so
*.rbc
.DS_Store
/.config
/InstalledFiles
/doc
/local.mk
/test/rbx-*
/test/ruby-*
ext/unicorn_http/Makefile
ext/unicorn_http/unicorn_http.c
ext/unicorn_http/common_fields.h
log/
pkg/
/vendor
/NEWS*
/.manifest
/GIT-VERSION-FILE
/man
/tmp
/LATEST
/lib/unicorn/version.rb
/*_1
