# this is the local.mk file used by Eric Wong on his dev boxes.
# GNUmakefile will source local.mk in the top-level source tree
# if it is present.
#
# This is depends on a bunch of GNU-isms from bash, sed, touch.

DLEXT := so
gems := rack-1.0.1

# Avoid loading rubygems to speed up tests because gmake is
# fork+exec heavy with Ruby.
prefix = $(HOME)
ifeq ($(r19),)
  ruby := $(prefix)/bin/ruby
  gem_paths := $(addprefix $(prefix)/lib/ruby/gems/1.8/gems/,$(gems))
else
  prefix := $(prefix)/ruby-1.9
  export PATH := $(prefix)/bin:$(PATH)
  ruby := $(prefix)/bin/ruby --disable-gems
  gem_paths := $(addprefix $(prefix)/lib/ruby/gems/1.9.1/gems/,$(gems))
endif

ifdef gem_paths
  sp :=
  sp +=
  export RUBYLIB := $(subst $(sp),:,$(addsuffix /lib,$(gem_paths)))
endif

# pipefail is THE reason to use bash (v3+) or never revisions of ksh93
# SHELL := /bin/bash -e -o pipefail
SHELL := /bin/ksh93 -e -o pipefail

full-test: test-18 test-19
test-18:
	$(MAKE) test test-rails 2>&1 | sed -e 's!^!1.8 !'
test-19:
	$(MAKE) test test-rails r19=1 2>&1 | sed -e 's!^!1.9 !'

latest: NEWS
	@awk 'BEGIN{RS="=== ";ORS=""}NR==2{sub(/\n$$/,"");print RS""$$0 }' < $<

# publishes docs to http://unicorn.bogomips.org
publish_doc:
	-git set-file-times
	$(RM) -r doc ChangeLog NEWS
	$(MAKE) doc LOG_VERSION=$(shell git tag -l | tail -1)
	$(MAKE) -s latest > doc/LATEST
	find doc/images doc/js -type f | \
		TZ=UTC xargs touch -d '1970-01-01 00:00:00' doc/rdoc.css
	$(MAKE) doc_gz
	tar cf - $$(git ls-files examples/) | (cd doc && tar xf -)
	chmod 644 $$(find doc -type f)
	rsync -av doc/ dcvr:/srv/unicorn/
	git ls-files | xargs touch

# Create gzip variants of the same timestamp as the original so nginx
# "gzip_static on" can serve the gzipped versions directly.
doc_gz: docs = $(shell find doc -type f ! -regex '^.*\.\(gif\|jpg\|png\|gz\)$$')
doc_gz:
	touch doc/NEWS.atom.xml -d "$$(awk 'NR==1{print $$4,$$5,$$6}' NEWS)"
	for i in $(docs); do \
	  gzip --rsyncable -9 < $$i > $$i.gz; touch -r $$i $$i.gz; done
